PORT=4000
MONGO_URI=mongodb+srv://irfandayan:dayan45@mern-workout-app-with-a.q6stzoj.mongodb.net/?retryWrites=true&w=majority
SECRET=SDKFJSDLFSDFKJLLWERU0EWREWXCVNVCCNXVWERWERJFKSDFLSDJFSJFLSFJSDFSDFDSFJLSD